#page-container {
    box-shadow: 0px 0px 5px black;
}

.imgcycle1 {
    display: flex;
    border-radius: 10px;
    background-image: url("../../../Images/background_nature.png");
    background-repeat: no-repeat;
    background-size: 110%;
    width: 70%;
    margin: 0 auto;
    margin-top: 550px;
    justify-content: center;
    box-shadow: 0 0 5px black;
}

.elementToFadeInAndOut {
    width:90%;
    height: 37.5%;
    -webkit-animation: fadeinout 5s linear forwards;
    animation: fadeinout 5s linear forwards;
    opacity: 0;
}

@-webkit-keyframes fadeinout {
    0%, 100% { opacity: 0; }
    25%, 75% { opacity: 1; }
}

@keyframes fadeinout {
    0%, 100% { opacity: 0; }
    25%, 75% { opacity: 1; }
}

#dog {
    position: relative;
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 0 0 black;
    height: 400px;
}

#dog img{
    width: 100%;
    height: 100%;
}

#NewsWindow {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 0 black;
    height: 100%;
}




.TwoWindow {
    width: 30%;
    height: 60%;
    display: inline-block;
    margin: 0 auto;
    box-shadow: 0 0 0 black;

}

.Donation_Adoption {
    width: 70%;
    display: flex;
    margin: 10px auto;
    box-shadow: 0 0 0 black;
    justify-content: space-between;
    align-items: center;
}

.Donation_Adoption img {
    width: 35%;
    height: 20%;

}

.Donation_Adoption a {
    display: contents;
}

.BigWindow  {
    width: 40%;
    display: inline-block;
    margin: 0 auto;
    box-shadow: 0 0 0 black;
    background-image:linear-gradient(to bottom right,#9dc183,#B2AC88,#9dc183);
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}

.BigWindow div {
    box-shadow: 0 0 0 black;
}

.BigWindow img {
    width: 100%;
    box-shadow: 0 0 0 black;
}

.BigWindow h2 {
    letter-spacing: 1px;
    font-size: 26pt;
    text-align: center;
    font-family: 'Griffy', cursive;
    margin-top: 8px;
    margin-bottom: -20px;
}

.BigWindow p {
    text-align: justify;
    padding: 10px;
    font-family: Verdana;
    font-size: 14pt;
}

#AdoptWindow {
    background-image:linear-gradient(to bottom right,#9dc183,#B2AC88,#9dc183);
    display: inline-block;
    width: 100%;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
    margin-top: 5px;
}

#AdoptWindow img {
    width: 60%;
    position: relative;
    display: flex;
    margin: 0 auto;
    margin-bottom: -150px;
    margin-top: -30px;
}

#AdoptWindow a {
    display: contents;
}

#AdoptWindow h2 {
    text-align: center;
    font-family: 'Griffy', cursive;
    font-size: 20pt;
}

#AdoptWindow p {
    text-align: center;
    font-family: Verdana;
    font-size: 16pt;
    margin-top: -30px;
}

.Totals {
    background-image:linear-gradient(to bottom right,#9dc183,#B2AC88,#9dc183);
    text-align: left;
    margin-top: 170px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    font-family: 'Griffy', cursive;
}

#DonateWindow {
    background-image:linear-gradient(to bottom right,#9dc183,#B2AC88,#9dc183);
    display: inline-block;
    width: 100%;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
    margin-top: 75px;
}

#DonateWindow img {
    width: 60%;
    position: relative;
    display: flex;
    margin: 0 auto;
    margin-bottom: -150px;
    margin-top: -30px;
}

#DonateWindow a {
    display: contents;
}

#DonateWindow h2 {
    text-align: center;
    font-family: 'Griffy', cursive;
    font-size: 20pt;
}

#DonateWindow p {
    text-align: center;
    font-family: Verdana;
    font-size: 16pt;
    margin-top: -30px;
}

#hrline {
    margin: 25px;
}
