body{
    margin: 0 ;
}

footer {

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 378px;
    display: flex;
    justify-content: space-between;
    background-image: url("/../MegaProject/Images/nina.png") ;
    box-shadow: 0 0 0 black;

}

.sm img{
    width: 40px;
    margin-right: 10px;
}

.rightfoot{
    margin-top: 40px;

}

.leftfoot{
    margin-top: 10px;
    width: 43%;
    margin-left: 5px;

}

.organ{
    margin-top: 15px;
    margin-right: 5px;
}

.organ img{
    width: 70px;
    display: flex;
    justify-content: space-between;
    float: left;
    margin-left: 30px;

}

.vlfoot{
    border-right: 3px solid rgba(255, 255, 255, 0.6);
    height: 270px;
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    margin-left: -100px;
    margin-bottom: 78px;


}

.rightfoot h4{
    margin-top: 100px;
    padding: 30px;
    background-color: rgba(151, 207, 91, 0.57);
    border-radius: 50px 0 0 50px;

}

.logofoot {
    display: inline-block;
    margin-right: 0 ;
}

.logofoot img{
    display: inline-block;
    margin-top: 40px;
    margin-left: 0;
}

.leftfoot h4{
    display: inline-block;

    font-size: 15pt;
    font-weight: bold;

}

.leftfoot span {
    font-size: 14pt;
}

.sm{
    margin-top: 10px;
}

span{
    margin-right: 15px;
}

.LeftSide {
    margin-top: -15px;
}