#BigWrapper {
    margin-top: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#SmallDivContainer {
    width: 30%;
    display: inline-block;
    box-shadow: 0 0 5px black;
    background-image:linear-gradient(to bottom right,#d4e4e8, #b9ccd0,#d4e4e8) ;
    float: left;
    margin-bottom: 45px;
    border-radius: 10px;
}

#SmallDivContainer img {
    background-image: url("../../../Images/background_nature2.png");
    width: 90%;
    border: 5px solid white;
    margin-left: 15px;
    margin-bottom: 25px;
    padding-bottom: 10px;
}

#LeftSide p {
    font-family: Verdana;
    font-size: 12pt;
    text-align: left;
    margin-left: 5px;
    margin-top: -10px;
}

#RightSide p {
    font-family: Verdana;
    font-size: 12pt;
    text-align: left;
    margin-left: 60px;
    margin-top: -10px;
}

#SmallDivContainer h2{
    font-family: 'Griffy', cursive;
    font-size: 16pt;
    text-align: center;
    margin-bottom: 10px;
    color: #575439;
}

#SidesWrapper {
    display: flex;
}

#LeftSide {
    width: 45%;
    margin: 0 auto;
}

#RightSide {
    width: 45%;
    margin: 0 auto;
}

#SmallDivContainer a {
    text-decoration: none;
    color: #b1561a;
    font-size: 14pt;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

#SmallDivContainer a:hover {
    color: #0a4e9a;
    font-family: 'Griffy', cursive;
    font-weight: bolder;
}

#LinkWrapper {
    display: flex;
}

#boooone2{
    float: left;
    margin-left: -115px;
    margin-top: -15px;
    display: flex;
}
