#BigWrapper {
    margin-top: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#SmallDivContainer {
    width: 30%;
    display: inline-block;
    box-shadow: 0 0 5px black;
    background-image:linear-gradient(to bottom right,#9dc183,#B2AC88,#9dc183);
    float: left;
    margin-bottom: 45px;
}

#SmallDivContainer img {
    width: 100%;
    padding: 10px;
}

#LeftSide p {
    font-family: Verdana;
    font-size: 12pt;
    text-align: left;
    margin-left: 5px;
    margin-top: -10px;
}

#RightSide p {
    font-family: Verdana;
    font-size: 12pt;
    text-align: left;
    margin-left: 60px;
    margin-top: -10px;
}

#SmallDivContainer h3 {
    font-family: 'Griffy', cursive;
    font-size: 16pt;
    text-align: center;
}

#SidesWrapper {
    display: flex;
}

#LeftSide {
    width: 45%;
    margin: 0 auto;
}

#RightSide {
    width: 45%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    font-size: 14pt;
    margin: 0 auto;
    padding: 10px;
    font-family: 'Griffy', cursive;
    width: 100%;
    text-align: center;
}