body {
    background-image: url("../../Images/light_brown_wood.jpg");
    margin: 0 auto;
}

main {
    /*background-color: #905617;*/
    background-image: url("../../Images/light-brown-kraft-paper-texture-background_8087-1877.jpg");
    width: 90%;
    margin: -10px auto 0px auto;
    justify-content: space-between;
    padding: 30px 0px 30px 0px;
    box-shadow: 0px 0px 10px black;
}

#page-container {
    position: relative;
    min-height: 78vh;
}

#wrapper {
    box-shadow: 0 0 0 black;
    margin: -10px auto;
}