body {
    background-image: url("../../Images/light_brown_wood.jpg");
    margin: 0 auto;
    padding-bottom: 90px;
    min-height: 100vh;
    position: relative;
}

main {
    background-image: url("../../Images/light-brown-kraft-paper-texture-background_8087-1877.jpg");
    width: 90%;
    margin: 60px auto 0px auto;
    justify-content: space-between;
    padding: 1px 0px 30px 0px;
    box-shadow: 0px 0px 10px black;
}

#page-container {
    position: relative;
    min-height: 100vh;
    box-shadow: 0 0 0 black;
}

#wrapper {
    box-shadow: 0 0 0 black;
    margin: -10px auto;
    min-height: 2.5rem;
}